<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Map</title>
<link rel="shortcut icon" href="{{site.imgPath}}/head.ico" type="image/x-icon" >
<link rel="stylesheet" href="http://js.arcgis.com/3.11/esri/css/esri.css">
<script src="http://js.arcgis.com/3.11/"></script>

<style>
html, body, #mapDiv {
  padding: 0;      
  margin: 0;      
  height: 100%;    
  }
</style>
<script>
require(["esri/map","dojo/domReady!"], function(Map) { 
  	var map = new Map("mapDiv", {
    center: [116, 40],
    zoom: 3,
    basemap: "topo"
  });
});
</script>
</head>

<body>  
	<div id="mapDiv"></div>   
	{{ content }}
</body>
</html>
